################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/obj/Release/net8.0-windows10.0.19041.0
/obj/Win32
/obj
/bin
/.vs
/.github
